/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --menu-color-text: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --ibm-font: "IBM Plex Mono", sans-serif;
  --decoration-color: #ff0070;
  --text-header-color: #000028;
  --main-title-color: #ff0070;
  --main-subtitle-color: #000028;
  --title-footer-color: #db00ff;
}

.theme-dark.page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button_type_dark {
  border: hidden;
}



