
:root.theme-light {

  --cover-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-color-text: #353430;
  --text-color: #353430;
  --decoration-color: #353430;
  --text-header-color: #353430;
  --main-title-color: #353430;
  --main-subtitle-color: #353430;
  --title-footer-color: #ffc2e6;
  --decoration-color-alt: 53, 52, 48;
}


.theme-light .header__rec {
  display: none;
}



@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --menu-color-text: #353430;
    --text-color: #353430;
    --decoration-color: #353430;
    --text-header-color: #353430;
    --main-title-color: #353430;
    --main-subtitle-color: #353430;
    --title-footer-color: #ffc2e6;
    --decoration-color-alt: 53, 52, 48;
  }

  .header__rec {
    display: none;
  }
}
