/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  padding: 10px;
  min-block-size: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  block-size: 100vh;
  align-items: center;
}

.header__paragraph {
  align-self: center;
  font-family: var(--ibm-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-header-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px;
  border-bottom: 0px;
  border-right: 1px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--decoration-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-top: 0px;
  border-bottom: 1px;
  border-right: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: var(--decoration-color);
}

.header__rec {
  position: absolute;
  top: 5px;
  right: 38px;
  padding-top: 7px;
  font-family: var(--ibm-font);
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.header__rec::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  right: -20px;
  top: 15px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: grid;
  gap: 14px;
  text-align: center;
}

.header__theme-menu-item {
  font-family: var(--ibm-font);
  font-size: 18px;
  line-height: 18px;
  color: var(--menu-color-text);
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 1px 12px 3px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decoration-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--decoration-color-alt), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0px 1px 0px 0px var(--decoration-color);
  outline: none;
}

.text-shadow:hover {
  text-decoration: underline;
}

.text-shadow:focus-visible {
  outline: 1px solid #f1b2ce;
}

.title {
  font-family: var(--ibm-font);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.text-shadow {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.main__title {
  font-family: var(--ibm-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--main-title-color);
}

.main__subtitle {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: var(--accent-color);
  font-family: var(--ibm-font);
  font-size: 18px;
  line-height: 23px;
  color: var(--main-subtitle-color);
}

.content {
  padding-top: 40px;
}

.main__block:not(:first-child) {
  padding-top: 50px;
}

.main__how .main__subtitle:not(h3) {
  font-family: var(--ibm-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
}

.main__how {
  padding-top: -10px;
}

.main__text {
  font-family: var(--ibm-font);
  font-size: 18px;
  color: var(--text-color);
}

.main__gallery {
  padding-top: 20px;
  padding-bottom: 40px;
  display: grid;
}

.main__gallery_img {
  width: 100%;
  height: auto;
  padding-top: 5px;
}

.footer__content {
  display: grid;
  position: relative;
  min-height: 667px;
  justify-items: center;
  align-items: center;
}

.title__footer {
  font-family: var(--ibm-font);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-footer-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    white-space: nowrap;
    margin-left: -20px;
  }

  .header__paragraph {
    margin-bottom: 0px;
    justify-self: flex-end;
    max-inline-size: 50%;
  }

  .header__theme-menu {
    margin-bottom: 0px;
  }

  .header__rec {
    top: 13px;
    right: 50px;
  }

  .content {
    display: grid;
  }

  .main__why {
    padding-left: 10px;
    display: grid;
    padding-bottom: 10px;
    grid-template-columns: 1fr 2fr;
  }

  .main__title {
    margin-top: 20px;
    margin-right: 20px;
  }

  .main__text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .why__section-text .main__subtitle {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main__what {
    display: grid;
  }

  .main__what .main__title {
    max-inline-size: min-content;
    margin-left: 10px;
  }

  .what__section-text .main__subtitle {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main__how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
  }

  .main__how .main__title {
    margin-left: 10px;
    margin-right: 0px;
  }

  .how__section-text {
    margin-left: 10px;
  }

  .main__how .main__text {
    margin-left: 5px;
  }

  .main__how .main__subtitle {
    margin-right: 10px;
    margin-left: 5px;
  }

  .main__gallery {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .main__gallery_img {
    object-fit: cover;
    height: 100%;
  }

  .main__gallery .main__subtitle {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .main__picturies {
    margin-left: 10px;
    margin-right: 10px;

    display: grid;
    gap: 10px;
    grid-template-areas:
      "sun sun ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sun {
    grid-area: sun;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer__content {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-top: 2px;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }

  .title {
    margin-block-start: 0;
  }

  .content {
    padding-top: 15px;
    display: grid;
  }

  .main__why {
    padding-top: 25px;
    grid-template-columns: 1fr 2fr;
  }

  .why__section-text .main__subtitle {
    margin-left: 0px;
  }

  .why__section-text .main__text {
    margin-left: 0px;
  }

  .main__what .main__title {
    max-inline-size: 15em;
  }

  .what__section-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__how .main__subtitle {
    margin-left: 0px;
  }

  .main__how .main__text {
    margin-left: 0px;
  }

  .footer__content {
    min-height: 768px;
  }

  .title__footer {
    font-size: 157px;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}
